requests
pytrends
numpy
scipy
gensim
pandas
pyarrow
matplotlib
seaborn
textstat
vaderSentiment
tqdm
PyYAML
zstandard
orjson
langid
transformers
torch
sentencepiece
stopwordsiso
linearmodels
statsmodels
scipy
